amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==2024.2
Django==4.2.13
django-autocomplete-light==3.11.0
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-js-asset==2.2.0
idna==3.7
kombu==5.3.7
pillow==10.3.0
pip-system-certs==4.0
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==5.0.4
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
wrapt==1.16.0
