{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body>
    <div class="container mt-5 alert-success shadow" style="max-width: 600px; padding: 50px; border-radius: 10px;"">
      <h3 class="text-center">Export Data from Database Table</h3>
      <form action="{% url 'export_data' %}" method="POST"  style="max-width: 600px; margin:auto; padding-top: 50px">
        {% csrf_token %}


        <div class="form-group">
          <label for="model_name">Select Model</label>
          <select name="model_name" class="form-control">
            <option value="" disabled selected>Select</option>
            {% for model in custom_models %}
            <option value="{{model}}">{{model}}</option>
            {% endfor %}
          </select>
          </br>
          <input type="submit" value="Export data" class="btn btn-success" required/>
        
          {% include 'alerts.html' %}

        </div>
      </form>
    </div>
  </body>
{% endblock %}